* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navBar {
    background-color: #0099FF;
    color: white;
    display: flex;
    justify-content: space-between;
}
.nav a {
    color: inherit;
}